@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --layout-width: 1440px;
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary-text: rgba(15, 31, 28, 0.5);
  --left-padding: calc(
    (var(--layout-width) - var(--container-width)) / 2 +
      var(--container-padding)
  );
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}

.block {
  width: auto;
  height: 300px;
  background-color: rgba(186, 219, 124, 0.863);
}

.header,
.destinations,
.customers,
.cta {
  /* display: none; */
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.container-right {
  /* position: absolute; */
  width: calc(var(--layout-width) - var(--left-padding));

  /* padding-left: var(--left-padding); */
}

.header {
  position: relative;
  max-width: var(--layout-width);
  min-height: 940px;
  margin: 0 auto;
  padding-top: 44px;

  background: linear-gradient(132deg, #428e5f -17.38%, #112120 78.4%), #204434;

  color: #fff;
  text-align: center;
  overflow: hidden;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;

  background-image: url(../img/header/header-bottom.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav__row {
  min-height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 86px;
}

.nav__logo {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav__list {
  z-index: 7;
  max-width: 462px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__signup {
  z-index: 7;
}

.nav__list-link,
.nav__signup-link,
.nav__signup-btn {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav__list-link {
  position: relative;
}

.nav__list-link.active::after,
.nav__list-link:hover::after {
  content: "";

  position: absolute;
  left: 0;
  right: 10px;
  bottom: -6px;

  display: block;
  /* width: 100%; */
  height: 4px;
  background-color: #c4c4c4;
  border-radius: 50px;
}

.nav__signup-link + .nav__signup-btn {
  margin-left: 25px;
}

.nav__signup-btn {
  display: inline-block;
  padding: 13px 44px;
  border-radius: 100px;
  background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%), #fff;
}

.header__content {
  /* position: relative; */
  /* display: flex; */
  /* flex-direction: row-reverse; */
  /* justify-content: flex-end; */
}

.header__badge {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding: 11px 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
  margin-bottom: 7px;
}

.nav__signup-btn:hover,
.content-btn:hover,
.destinations__btn:hover,
.btn:hover {
  color: rgb(240, 243, 125);
  transition: color 0.2s ease-in;
}

.nav__signup-btn:active,
.content-btn:active,
.destinations__btn:active,
.btn:active {
  position: relative;
  top: 1px;
}

.header__content-explore {
  position: relative;
  left: 0;

  max-width: 592px;
  text-align: left;
}

.content-title {
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

.content-text {
  max-width: 519px;
  color: rgba(255, 255, 255, 0.507);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 68px;
}

.content-btn {
  display: inline-block;
  text-decoration: none;
  color: #fefefe;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  padding: 26px 47px;
  border-radius: 27px;
  background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%);
}

.header__photo {
  display: block;
  position: absolute;
  right: 0;
  top: -18px;
  /* bottom: 18px; */
  width: 898px;
  height: 1123px;
  flex-shrink: 0;
}

.header__photo-element1 {
  position: absolute;
  left: 150px;
  top: 191px;
}

.header__photo-element2 {
  position: absolute;
  left: 641px;
  top: 254px;
}

.header__photo-element3 {
  position: absolute;
  left: 14px;
  top: 769px;
}

.header__photo-element4 {
  position: absolute;

  left: 774px;
  top: 718px;
}

.destinations {
  padding: 96px 0;
}

.destination-row {
  display: flex;
  justify-content: start;
  column-gap: 50px;
  overflow: hidden;
}

.destinations__content {
  max-width: 456px;
  color: #0f1f1c;
}

.destinations__title {
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

.destinations__title span {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.destinations__text {
  width: 456px;
  color: var(--secondary-text);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 60px;
}

.destinations__btn {
  padding: 25px 45px;
  border-radius: 27px;
  background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%);

  color: #fefefe;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.destinations__slider {
  width: 1110px;
  height: 100%;
  flex-shrink: 0;
}

.slider {
  position: relative;
  height: 456px;
  flex-shrink: 0;
}

.slider__item {
  margin-top: 27px;
  width: 335px;
  height: 402px;
  object-fit: cover;
  border-radius: 35px;

  transition: 0.2s ease-in;
}

.slider .center .slider__item {
  margin-top: 0;
  width: 380px;
  height: 456px;
  /* object-fit: cover; */
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  z-index: 3;

  display: flex;
  align-items: center;

  background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
}

.slider__btn--prev {
  left: -27px;
  justify-content: flex-start;
  padding-left: 26px;
}

.slider__btn--next {
  right: -27px;
  justify-content: flex-end;
  padding-right: 26px;
}

.customers {
  padding: 100px 0 133px;
}
.customers__row {
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 68px;
}
.customers__img img {
  display: block;
  border-radius: 50px;
}
.customers__content {
  max-width: 565px;
}

.content__title {
  color: #0f1f1c;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 35px;
}
.customers__info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 37px;
}

.avatar {
  overflow: hidden;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: #fa9;
  position: relative;
  margin-right: 40px;
}

.user__wrapper {
  padding-top: 18px;
}

.user__name {
  color: #0f1f1c;
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.user__location {
  color: var(--secondary-text);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user__comment {
  max-width: 491px;
  color: var(--secondary-text);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;
}

.cta {
  padding: 100px 0;
}

.cta__plate {
  padding: 40px 15px;
  position: relative;
  width: 100%;

  border-radius: 60px;
  background: #fff;
  text-align: center;
}

.cta__plate::before,
.cta__plate::after {
  position: absolute;
  width: 63px;
  height: 83px;
  content: "";
  z-index: 1;
}

.cta__plate::before {
  right: 74px;
  top: 74px;

  background-image: url(../img/cta/cta-el-01.svg);
}

.cta__plate::after {
  left: 74px;
  bottom: 74px;

  background-image: url(../img/cta/cta-el-02.svg);
}

.cta__plate-content {
  min-height: 581px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.cta__title {
  max-width: 520px;
  color: #0f1f1c;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 30px;
}

.cta-text {
  color: #0f1f1c;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 60px;
}

.btn {
  display: inline-block;
  padding: 25px 44px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  z-index: 3;

  border-radius: 27px;
  background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%);
}
