@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --layout-width: 1440px;
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary-text: rgba(15, 31, 28, 0.5);
  --orange: #ff7c4e;

  --left-padding: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
  --right-padding: calc(
    (100% - var(--layout-width)) / 2 - var(--left-padding) +
      var(--container-padding)
  );
  /* --right-padding: calc(
    (100% - var(--layout-width)) / 2 + var(--container-padding)
  ); */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}

.block {
  width: auto;
  height: 300px;
  background-color: rgba(186, 219, 124, 0.863);
}

.header-,
.destinations,
.customers,
.cta,
.subscribe,
.footer {
  display: none;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.container-right {
  /* position: absolute; */
  /* width: calc(var(--layout-width) - var(--left-padding)); */
  width: 100%;
  padding-left: var(--left-padding);
  /* padding-right: calc((100% - var(--layout-width)) / 2 - var(--left-padding)); */
  padding-right: var(--right-padding);
}

.header {
  position: relative;
  max-width: var(--layout-width);
  min-height: 940px;
  margin: 0 auto;
  padding-top: 44px;

  background: linear-gradient(132deg, #428e5f -17.38%, #112120 78.4%), #204434;

  color: #fff;
  text-align: center;
  overflow: hidden;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;

  background-image: url(../img/header/header-bottom.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__row {
  margin-bottom: 86px;
  min-height: 49px;
}

.nav__logo {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav__logo a {
  color: inherit !important;
}

.logo--footer {
  color: var(--orange);
}

.nav__list {
  max-width: 462px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__list a,
.nav__signup-link {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav__list a {
  position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
  content: "";

  position: absolute;
  left: 0;
  right: 10px;
  bottom: -6px;

  display: block;
  /* width: 100%; */
  height: 4px;
  background-color: #c4c4c4;
  border-radius: 50px;
}

.nav__list.nav__list--footer a.active::after,
.nav__list.nav__list--footer a:hover::after {
  display: none;
}

.nav__list.nav__list--footer a.active,
.nav__list.nav__list--footer a:hover,
.nav__signup-link.nav__signup--footer:hover {
  color: var(--orange);
}

.nav__signup {
  display: flex;
  justify-content: center;
  align-items: center;

  column-gap: 25px;
}

.header__badge {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding: 11px 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
  margin-bottom: 7px;
}

.header__content {
  position: relative;
  left: 0;

  max-width: 592px;
  text-align: left;
}

.content-title {
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

.content-text {
  max-width: 519px;
  color: rgba(255, 255, 255, 0.507);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 68px;
}

.header__photo {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  /* bottom: 18px; */
  width: 898px;
  height: 1123px;
  flex-shrink: 0;

  pointer-events: none;
}

.header__photo::after {
  content: url(../img/header/header-elements.svg);
  position: absolute;
  left: 14px;
  top: 173px;
  pointer-events: none;
}

.destinations {
  padding: 96px 0;
}

.destination-row {
  display: flex;
  justify-content: start;
  column-gap: 50px;
  overflow: hidden;
}

.destinations__content {
  max-width: 456px;
  color: #0f1f1c;
}

.destinations__title {
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

.destinations__title span {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.destinations__text {
  width: 456px;
  color: var(--secondary-text);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 60px;
}

.destinations__slider {
  width: 1110px;
  height: 100%;
  flex-shrink: 0;
}

.slider {
  position: relative;
  height: 456px;
  flex-shrink: 0;
}

.slider__item {
  margin-top: 27px;
  width: 335px;
  height: 402px;
  object-fit: cover;
  border-radius: 35px;

  transition: 0.2s ease-in;
}

.slider .center .slider__item {
  margin-top: 0;
  width: 380px;
  height: 456px;
  /* object-fit: cover; */
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  z-index: 3;

  display: flex;
  align-items: center;

  background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
}

.slider__btn--prev {
  left: -27px;
  justify-content: flex-start;
  padding-left: 26px;
}

.slider__btn--next {
  right: -27px;
  justify-content: flex-end;
  padding-right: 26px;
}

.customers {
  padding: 100px 0 133px;
}
.customers__row {
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 68px;
}
.customers__img img {
  display: block;
  border-radius: 50px;
}
.customers__content {
  max-width: 565px;
}

.content__title {
  color: #0f1f1c;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 35px;
}
.customers__info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 37px;
}

.avatar {
  overflow: hidden;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: #fa9;
  position: relative;
  margin-right: 40px;
}

.user__wrapper {
  padding-top: 18px;
}

.user__name {
  color: #0f1f1c;
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.user__location {
  color: var(--secondary-text);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user__comment {
  max-width: 491px;
  color: var(--secondary-text);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;
}

.cta {
  padding: 100px 0;
}

.cta__plate {
  padding: 40px 15px;
  position: relative;
  width: 100%;

  border-radius: 60px;
  background: #fff;
  text-align: center;
}

.cta__plate::before,
.cta__plate::after {
  position: absolute;
  width: 63px;
  height: 83px;
  content: "";
  z-index: 1;
}

.cta__plate::before {
  right: 74px;
  top: 74px;

  background-image: url(../img/cta/cta-el-01.svg);
}

.cta__plate::after {
  left: 74px;
  bottom: 74px;

  background-image: url(../img/cta/cta-el-02.svg);
}

.cta__plate-content {
  min-height: 581px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.cta__title {
  max-width: 520px;
  color: #0f1f1c;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 30px;
}

.cta-text {
  color: #0f1f1c;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 60px;
}

.subscribe {
  padding: 35px 0 50px;
}

.subscribe__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  max-width: 800px;
}

.subscribe__title {
  max-width: 494px;
  color: #0f1f1c;
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 60px;
}

.subscribe__form {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  padding: 12px;
  min-width: 800px;

  border-radius: 35px;
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #c4c4c4;
}

.subscribe__form-input {
  font-size: 24px;
  font-weight: 500;
  margin-left: 30px;
}

.subscribe__form-input::placeholder {
  color: var(--secondary-text);
}

.btn--subscribe {
  padding: 33px 87px;
  border-radius: 35px;
  font-size: 25px;
}

.footer {
  padding: 56px 0 74px;
}

.nav__signup--footer,
.nav__list--footer a {
  color: var(--secondary-text);
}

.btn {
  display: inline-block;
  padding: 25px 44px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  z-index: 3;

  border-radius: 27px;
  background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%);
}

.btn:hover {
  color: rgb(240, 243, 125);
  transition: color 0.2s ease-in;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn--header {
  color: #fefefe;
  padding: 26px 47px;
  font-size: 25px;
}

.btn--destinations {
  color: #fefefe;
}

.btn--cta {
  padding: 25px 55px;
}

.btn--signup {
  font-size: 15px;
  font-weight: 500;
  padding: 13px 44px;
  border-radius: 100px;
}

.nav__toggle {
  display: none;
}

/* Menu icon */

.menu-icon-wrapper {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 4px;
  --color: #fff;

  width: var(--width);
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.menu-icon::before,
.menu-icon::after {
  position: absolute;
  left: 0;

  content: "";
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before {
  top: -10px;
}

.menu-icon::after {
  top: 10px;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before,
.menu-icon.menu-icon-active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
}

@media (max-width: 1300px) {
  .header__photo {
    right: calc(100% - var(--container-width));
  }

  .container-right {
    padding-left: 15px;
  }
}

@media (max-width: 1025px) {
  .nav__list,
  .nav__signup {
    display: none;
  }

  .nav__toggle {
    display: block;
  }

  .no-scroll {
    overflow-y: hidden;
  }

  .nav--mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;

    flex-direction: column;
    row-gap: 50px;
    padding: 40px 0;

    background: linear-gradient(270deg, #428e5f -17.38%, #112120 78.4%), #204434;
  }

  .nav--mobile .nav__logo {
    font-size: 34px;
  }

  .nav--mobile .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
  }

  .nav--mobile .nav__list a,
  .nav__signup-link {
    font-size: 22px;
  }

  .nav--mobile .nav__signup {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
  }

  /* .nav--mobile  */
  .nav__toggle {
    position: absolute;
    top: auto;
    right: 40px;
  }

  .nav--mobile .nav__list a::after {
    display: none;
  }

  .header {
    min-height: 856px;
  }

  .header__content {
    max-width: 450px;
  }

  .content-title {
    font-size: 38px;
    margin-bottom: 20px;
  }

  .content-text {
    font-size: 22px;
    margin-bottom: 45px;
  }

  .btn--header {
    font-size: 22px;
    padding: 17px 35px;
  }

  .header__photo {
    width: 790px;
    left: 320px;
  }
}

@media (max-width: 900px) {
  .nav__row {
    margin-bottom: 50px;
  }

  .header__content-row {
    /* position: relative; */
    min-height: 700px;
    /* display: flex; */
  }

  .header__content {
    position: absolute;
    left: 429px;
    /* min-width: 600px; */
    text-align: right;
    margin-right: 20px;
  }

  .header__photo {
    position: absolute;
    left: -159px;
    top: 27px;
  }
}

@media (max-width: 680px) {
  .header {
    min-height: unset;
  }

  .nav__row {
    margin-bottom: 10px;
  }

  .nav__toggle {
    right: 20px;
  }

  .nav__toggle .menu-icon.menu-icon-active {
    top: 10px;
  }

  .header__content-row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    /* width: 50%;s */
    /* display: flex;
    flex-direction: column; */
  }

  .header__content {
    position: static;
    text-align: center;
    width: 90%;
    margin: 0;
  }

  .header__photo {
    position: static;
    width: 100%;
    height: auto;
  }

  .header__photo::after {
    display: none;
  }

  .header__badge {
    font-size: 15px;
    padding: 6px 15px;
  }

  .content-title {
    font-size: 30px;
    line-height: 1.5;
  }

  .content-text {
    /* width: 400px; */
    font-size: 16px;
    margin-bottom: 25px;
  }

  .btn--header {
    font-size: 20px;
    padding: 7px 25px;
  }
}
